<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addsong" method="post">
        <label>Enter Your Favouorite song</label><br>
        <input type="text" name="Songname" placeholder="Enter song name..." required>
        <input type="text" name="Film" placeholder="Enter film name..." required>
        <input type="text" name="Music_director" placeholder="Enter music Director name..." required>
        <input type="text" name="singer" placeholder="Enter singer name..." required>
        <input type="submit" value="Add music">
    </form>
</body>
</html>